.position{
    position: relative;
}
.haut{
    @extend .position;
    height: 630px;
}
.logmmrs{
    @extend .position;
    top: 0px;
    left:0px;
    img{
        width:150px;
    }
    
}
.logmada{
    @extend .position;
    top:-200px;
    left:250px;
    img{
        width:200px;
    }
    
}
.qrcode{
    @extend .position;
    top: -320px;
    left:600px;
    img{
        width: 100px;
    }
   
}
.mmrs_texte {
    @extend .position;
    top: -320px;
    left: 0px;
    p {
        text-align: center;
        margin-bottom: -8px;
    }
}
.mmrs_texte2 {
    @extend .position;
    top: -320px;
    left: 180px;
    .xx {
        text-decoration: underline;
    }
    p,.xx{
        font-size: 25px;
    }
}
.data_texte {
    @extend .position;
    top: -330px;
    p{
        margin-bottom: -10px;
    }
}
p.yy {
    font-size: 22px;
    margin-left: 25px;
}

.table {
    // position: relative;
    // top: -300px;
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 220px;
      }
}
.tt{
    text-align: center;
}
.data_texte2{
    p{
        margin-bottom: -10px;
    }
    .fait {
        @extend .position;
        left: 400px;
    }    
}
span {
    color: red;
}
